<section class="geosearch">
  <span class="geolocateControls"></span>
  <span class="geocodeRegion"></span>
</section>

<div class="scrollable">
  <section class="mapControls state-closed">
    <h1>
      <span class="icon-controls"></span>
      Map Options
      <a class="toggleCollapseBtn" onclick="return false;" href="#"></a>
    </h1>

    <section class="menu layerControls"></section>

    <section class="menu markerControls"></section>

    <section class="menu waypointControls"></section>

    <section class="menu publicTrailsControls"></section>
  </section>

  <div class="routeBuilderControls"></div>

  <section class="state-closed nearbyTrails">
    <h1>Nearby Trails</h1>
    <h5>6 Trails Found</h5>

    <ul class="itemList">
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="content">
            <div class="title">Some Awesome Trail</div>

            <small>near North Bend, WA</small>
          </div>
          <ul class="meta">
            <li>39.5 mi</li>
            <li><span class="icon-open">OPEN</span></li>
          </ul>
        </a>
      </li>
    </ul>
    <script type="text/javascript">
      // Collapsing behavior
      // for placeholder NearbyTrails static content
      jQuery('.nearbyTrails').click(function() {
        jQuery(this).toggleClass('state-closed');
      });
    </script>
  </section>
</div>

<footer>
  <ul>
    <li class="tipsControls">
      <a href="#">
        <span class="icon-info"></span>
        <span>Tips</span>
      </a>
    </li>
  </ul>
</footer>