<h2 class="trailHeading">Trails</h2>

<div class="menuControls">
  <input id="aeris-publicTrailsToggle"
         type="checkbox"
         {{#if selected }}
           checked
         {{/if}}
          />
  <label class="checkbox" for="aeris-publicTrailsToggle">
    Public Trails
  </label>
</div>