<input type="checkbox"
       value="{{i18n type}}"
       id="aeris-waypoint-checkbox-{{ type }}"
      {{#if selected}}
           checked
      {{/if}}
      />
<label class="checkbox" for="aeris-waypoint-checkbox-{{ type }}">
  {{i18n type }}
</label>